<h1> Dashboard </h1>

<div class="row">
    <div class="col-md-8">
      <h3>Performance</h3>
    </div>
    <div class="col-md-4">
<div class="card">
                              <div class="card-header" data-background-color="orange">
                                  <h4 class="title">Employees Stats</h4>
                                  <p class="category">New employees on 15th September, 2016</p>
                              </div>
                              <div class="card-content table-responsive">
                                  <table class="table table-hover">
                                      <thead class="text-warning">
                                          <tr><th>ID</th>
                                        <th>Name</th>
                                        <th>Salary</th>
                                        <th>Country</th>
                                      </tr></thead>
                                      <tbody>
                                          <tr>
                                            <td>1</td>
                                            <td>Dakota Rice</td>
                                            <td>$36,738</td>
                                            <td>Niger</td>
                                          </tr>
                                          <tr>
                                            <td>2</td>
                                            <td>Minerva Hooper</td>
                                            <td>$23,789</td>
                                            <td>Curaçao</td>
                                          </tr>
                                          <tr>
                                            <td>3</td>
                                            <td>Sage Rodriguez</td>
                                            <td>$56,142</td>
                                            <td>Netherlands</td>
                                          </tr>
                                          <tr>
                                            <td>4</td>
                                            <td>Philip Chaney</td>
                                            <td>$38,735</td>
                                            <td>Korea, South</td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>    </div>
</div>
