<!--ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul-->

<div class="card card-nav-tabs">
  <div class="card-header" data-background-color="green">
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <span class="nav-tabs-title">Groups:</span>
        <ul class="nav nav-tabs" data-tabs="tabs">
          <li class="active">
            <a data-toggle="tab" href="#first">First
            <div class="ripple-container"></div></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-content">
    <div class="tab-content">
      <div class="tab-pane active" id="first">
        <div class="row">

          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header" data-background-color="blue">
                <i class="material-icons">account_circle</i>
              </div>
              <div class="card-content">
                <p class="category">Users Online</p>
             
                <h3 class="title">{{_dashboardData.users[group].length}}</h3>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header" data-background-color="blue">
                <i class="material-icons">check_circle</i>
              </div>
              <div class="card-content">
                <p class="category">Jobs Finished</p>
                <h3 class="title">34,245</h3>
              </div>
            </div>
          </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header" data-background-color="blue">
                <i class="material-icons">watch_later</i>
              </div>
              <div class="card-content">
                <p class="category">Time Elapsed for Job</p>
                <h3 class="title"> 3:43 </h3>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-12">
    <div class="card">
      <div class="card-header" data-background-color="red">
        <h4 class="title">Active Job Queue</h4>
        <p class="category">Computations that this group will perform</p>
      </div>
      <div class="card-content table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Tasks</th>
              <th>Owner</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in _dashboardData.jobs[group]">
                <td>{{$index}}</td>
                <td> {{x.id}}</td>
                <td> {{x.splits.length}}</td>
            </tr>
            <!--<tr>
              <td>1</td>
              <td>AliceWonderland</td>
              <td>36,738</td>
              <td>Paul</td>
            </tr>-->
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-12">
    <div class="card">
      <div class="card-header" data-background-color="red">
        <h4 class="title">Main Reducer Queue</h4>
        <p class="category">Reduce Computations for the Main Reducer</p>
      </div>
      <div class="card-content table-responsive">
        <table class="table table-hover">
          <thead >
            <tr>
              <th>Index</th>
              <th>Name</th>
              <th>Tasks</th>
              <th>Owner</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in _dashboardData.jobs[group]">
                <td>{{$index}}</td>
                <td> {{x.id}}</td>
                <td> {{x.splits.length}}</td>
            </tr>
            <!--<tr>
              <td>1</td>
              <td>AliceWonderland</td>
              <td>36,738</td>
              <td>Paul</td>
            </tr>-->
          </tbody>
        </table>
      </div>
    </div>
  </div>

    <div class="col-lg-4 col-md-12">
    <div class="card">
      <div class="card-header" data-background-color="red">
        <h4 class="title">Completed Jobs</h4>
        <p class="category">New employees on 15th September, 2016</p>
      </div>
      <div class="card-content table-responsive">
        <table class="table table-hover">
          <thead >
            <tr>
              <th>Name</th>
              <th>Owner</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Harry Potter</td>
              <td>Potato Man</td>
              <td><a href="http://www.w3schools.com" target="_blank">Result File</a> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

 <div class="card">
      <div class="card-header" data-background-color="orange">
        <h4 class="title">Current Job Processing</h4>
        <p class="category">Comparing cluster performance vs Individual Node Performance</p>
      </div>
      <div class="card-content">
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>
</div>

<script> 

$(function () {
    Highcharts.chart('container', {
        title: {
            text: '',
            x: -20 //center
        },
        subtitle: {
            text: '',
            x: -20
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: 'Tasks Computed per Second (16kb task)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '°C'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Tokyo',
            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
        }, {
            name: 'New York',
            data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
        }, {
            name: 'Berlin',
            data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
        }, {
            name: 'London',
            data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
        }]
    });
});

</script>