<!--ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul-->

<div class="card card-nav-tabs">
  <div class="card-header" data-background-color="green">
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <span class="nav-tabs-title"><h5> Groups:</h5></span>
        <ul class="nav nav-tabs" data-tabs="tabs">
          
         
            <li ng-repeat ="group in my_groups" >
            <a data-toggle="tab" ng-click="selected(group)"> <h5>{{group}}</h5>
            <div class="ripple-container"></div></a>
          </li>
        
        </ul>
        
        </div>
      </div>
    </div>
  </div>
  <div class="card-content">
    <div class="tab-content">
      <div class="tab-pane active" id="first">
        <div class="row">

          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header" data-background-color="blue">
                <i class="material-icons">account_circle</i>
              </div>
              <div class="card-content">
                <p class="category">Nodes in Cluster</p>
             
                <h3 class="title">{{_dashboardData.users[group].length}}</h3>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header" data-background-color="blue">
                <i class="material-icons">check_circle</i>
              </div>
              <div class="card-content">
                <p class="category">Jobs Finished</p>
                <h3 class="title">{{completed_jobs.length}}</h3>
              </div>
            </div>
          </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header" data-background-color="blue">
                <i class="material-icons">watch_later</i>
              </div>
              <div class="card-content">
                <p class="category">Time Elapsed for Job</p>
                <h3 class="title"> 3:43 </h3>
              </div>
            </div>
          </div>

           <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header" data-background-color="blue">
                <i class="material-icons">swap_vert</i>
              </div>
              <div class="card-content">
                <p class="category">Tasks Computed Locally</p>
                <h3 class="title"> {{_counters[group] || 0}}</h3>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-12">
    <div class="card">
      <div class="card-header" data-background-color="red">
        <h4 class="title">Active Job Queue</h4>
        <p class="category">Computations that this group will perform</p>
      </div>
      <div class="card-content table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Tasks</th>
              <th>Owner</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in _dashboardData.jobs[group]">
                <td>{{$index}}</td>
                <td> {{x.id}}</td>
                <td> {{x.splits.length}}</td>
            </tr>
            <!--<tr>
              <td>1</td>
              <td>AliceWonderland</td>
              <td>36,738</td>
              <td>Paul</td>
            </tr>-->
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-12">
    <div class="card">
      <div class="card-header" data-background-color="red">
        <h4 class="title">Main Reducer Queue</h4>
        <p class="category">Reduce Computations for the Main Reducer</p>
      </div>
      <div class="card-content table-responsive">
        <table class="table table-hover">
          <thead >
            <tr>
              <th>Index</th>
              <th>Name</th>
              <th>Tasks</th>
              <th>Owner</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(key, value) in _reducerData.jobs[group]">
                <td>{{$index}}</td>
                <td> {{key}}</td>
                <td> {{value.length}}</td>
            </tr>
            <!--<tr>
              <td>1</td>
              <td>AliceWonderland</td>
              <td>36,738</td>
              <td>Paul</td>
            </tr>-->
          </tbody>
        </table>
      </div>
    </div>
  </div>

    <div class="col-lg-4 col-md-12">
    <div class="card">
      <div class="card-header" data-background-color="red">
        <h4 class="title">Completed Jobs</h4>
        <p class="category">Results from the completed jobs</p>
      </div>
      <div class="card-content table-responsive">
        <table class="table table-hover">
          <thead >
            <tr>
              <th>Name</th>
              <th>Owner</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="x in completed_jobs">
              <td>{{ x.name }}</td>
              <td>{{ x.owners[0]}}</td>
              <td><a ng-href="{{x.results}}" target="_blank">Result File</a> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

 <div class="card">
      <div class="card-header" data-background-color="orange">
        <h4 class="title">Current Job Processing</h4>
        <p class="category">Comparing cluster performance vs Individual Node Performance</p>
      </div>
      <div class="card-content">
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>
</div>